body{
  font-family: 'Heebo', sans-serif;
  position: relative;
  overflow-x: hidden;
  padding: 0;
}

body, html {
  height: 100%;  
}
ul, ol {
    list-style: none;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Heebo', sans-serif;
}

p{
  font-weight: 400;
  font-family: 'Heebo', sans-serif;
}

#body{
  overflow-y:hidden;
}

.section {
  min-height: 100%;
  color: #2a3039;
  z-index: 1;
  position: relative;
}

/* SCROLLING PAGE */

.main {
  width: 100%;
  height: 100%;
}

.dotnav-right {
  right: 94px;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  z-index: 999;
  position: fixed;
}

.dotnav {
  padding: 0;
  list-style: none;
  font-size: 0.001px;
}

.dotnav > li {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}

.dotnav > li:nth-child(n+2) {
  margin-left: 15px;
}

.dotnav > li > a {
  display: inline-block;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #926c04;
  vertical-align: top;
  overflow: hidden;
  padding: 0;
  text-indent: -999%;
}
        
/*.dotnav > li > a:hover,
.dotnav > li > a:focus {
  background: #926c04;
  outline: none;
}*/

.dotnav > li.active > a {
  background: #cbd2ca;
}

.dotnav > li.active > a {
  background: #926c04;
}

.dotnav-vertical > li {
  display: block;
  margin-right:10px;
}

.dotnav-vertical > li:nth-child(n+2) {
  margin-left: 0;
  margin-top: 10px;
}



 /* MENU FIXED */

.hamburger-menu{
    display: none;
    cursor: pointer;
    margin-top: 28px;
    margin-right: 15px;
    margin-left: 10px;
    color: #fff;
    background-image: url(../images/hamburger.png);
    background-repeat: no-repeat;
    height: 18px;
    width: 26px;
    position: relative;
    left: 0px;
}

.navbar{
  height: 81px;
}

#header{
  border-bottom: 1px solid #484034;
  height:81px;
}
.navbar ul li a{
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 20px;
  letter-spacing: 2px;
}

.navbar ul li :hover{
  color: #BD8E0D;
  background-color: transparent;
}

.navbar ul li{
  color:#ababac;
}

.navbar ul li i{
  color:#ababac;
}

/* INSTANCIA DOS DEL MENU AL SCROLLEAR */

.navbar.navbar-fixed-top.fixed-theme {
  background-color: #ffffff;
  height: 64px;
  border-bottom:1px solid #ecddb2!important;
}

.navbar.navbar-fixed-top.fixed-theme li a{
  color:#9fa3a7;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar.navbar-fixed-top.fixed-theme li :hover{
  color: #BD8E0D;
}

.navbar.navbar-fixed-top.fixed-theme li i{
  color: #d8caa4;
}

.navbar.navbar-fixed-top.fixed-theme li {
  color:#d8caa4;
}

.navbar.navbar-fixed-top.fixed-theme .cblanco {
  border-right: 1px solid #d8caa4;
}

.navbar-brand.fixed-theme {
  font-size: 18px;
}

.navbar-container.fixed-theme {
  padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
  transition: 0.8s;
  -webkit-transition:  0.8s;
}

.color{
  background-color: blue;
  width: 100%;
  height: 100%;
}

.cblanco{
  padding-right: 5px;
  border-right: 1px solid #484034;
  height: 80px;
}

.navbar-text{
  margin-top: 35px;
}

/*-------------*/
.contenedor{
  height: 100%;
  display: table-cell; 
  vertical-align: middle;
  padding-top: 50px;
}

.vertical-align-wrapper .btn-1 {
  border: 1px solid #bd8e0d;
  color: #ffffff;
  padding: 18px 49px;
  background-color: transparent;
  font-weight: 500;
  margin-top: 15px;
  letter-spacing: 3px;
  font-size: 15px;
}

.vertical-align-wrapper .btn-1e {
  overflow: hidden;
}

.vertical-align-wrapper .btn-1e:after {
  width: 100%;
  height: 0;
  top: 0%;
  bottom: 0;
  left: 0%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient( right,#bd8e0d 0,#ffefc5 360%);

}

.vertical-align-wrapper .btn-1e:hover,
.vertical-align-wrapper .btn-1e:active {
  color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient(right,#bd8e0d 0,#ffefc5 360%);
}

.vertical-align-wrapper .btn-1e:hover:after {
  height: 400%;
  opacity: 1;
}

.vertical-align-wrapper .btn-1e:active:after {
  height: 600%;
  opacity: 1;
}

/* NOSOTROS */

#nosotros{
  height: auto;   
  background-size: cover;/* contain; */
  padding-top: 14rem;
  padding-bottom: 10rem;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-color: #ffffff;
}
#mision{
  height: auto;   
  background-size: cover;/* contain; */
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-color: #ffffff;
}
#cifras{
  height: auto;   
  background-size: cover;/* contain; */
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-color: #ffffff;
}
#cifras *{
  color: #fff !important;
}
#nosotros #nosotros-content h2 {
  width: 244px;
  font-weight: 500;
  font-size: 48px;
  margin-top: 70px;
  margin-bottom: 14px;
}

#nosotros #nosotros-content p {
  line-height: 27px;
  font-size: 16px;
  color: #787e83;
  font-weight: 300;
  margin-bottom: 27px;
}

#nosotros #nosotros-content span{
  color: #926c04;
  font-weight: 500;
}

/* PROYECTO */

#proyecto h2 {
  width: 244px;
  font-weight: 500;
  font-size: 48px;
  margin-top: 70px;
  margin-bottom: 14px;
}

#proyecto p {
  line-height: 27px;
  font-size: 16px;
  color: #787e83;
  font-weight: 300;
  margin-bottom: 27px;
}
#proyecto{
  height: 100%;
  /*background-image: url('../images/proyectos.jpg');*/
  height: auto;
  background-size: contain;
  padding-top: 14rem;
  padding-bottom: 11rem;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-color: #f6f7fb;
}

.expandir{
  height: 100%;

  clear: both;
}

/*ICONOS DE PROYECTO */

.btn-inicio {
  background-color: transparent;
  border-color:#BD8E0D;
  color:white; 
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
  margin-top: 20px;
}

#proyecto .icono-proyecto{
  margin: 0;
  padding: 0;
  clear: both;
  list-style:none;
  width: 100%;
}
#proyecto .icono-proyecto .col {
width: 17%;
display: inline-block;
}

#proyecto .icono-proyecto-1{
  background-image: url('../images/iconos-proyecto/pileta.svg');
  width: 76px;
  height: 76px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
  margin: auto;

}

#proyecto .icono-proyecto-1:hover{
  background-image: url('../images/iconos-proyecto/pileta-hover.svg');
  width: 76px;
  height: 76px;
  display: block;
  background-repeat: no-repeat;
  margin: auto;
}

#proyecto .icono-proyecto-2{
  background-image: url('../images/iconos-proyecto/mascota.svg');
  width: 76px;
  height: 76px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
  margin: auto;

}

#proyecto .icono-proyecto-2:hover{
  background-image: url('../images/iconos-proyecto/mascota-hover.svg');
  width: 76px;
  height: 76px;
  display: block;
  background-repeat: no-repeat;
  margin: auto;
}

#proyecto .icono-proyecto-3{
  background-image: url('../images/iconos-proyecto/flor.svg');
  width: 76px;
  height: 76px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
  margin: auto;

}

#proyecto .icono-proyecto-3:hover{
  background-image: url('../images/iconos-proyecto/flor-hover.svg');
  width: 76px;
  height: 76px;
  display: block;
  background-repeat: no-repeat;
  margin: auto;
}

#proyecto .icono-proyecto-4{
  background-image: url('../images/iconos-proyecto/corazon.svg');
  width: 76px;
  height: 76px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
  margin: auto;

}

#proyecto .icono-proyecto-4:hover{
  background-image: url('../images/iconos-proyecto/corazon-hover.svg');
  width: 76px;
  height: 76px;
  display: block;
  background-repeat: no-repeat;
  margin: auto;
}


/*-------------------*/

#proyecto .btn-1 {
  border: 1px solid #bd8e0d;
  color: #bd8e0d;
  padding: 18px 65px;
  background-color: transparent;
  font-weight: 500;
  margin-top: 15px;
  letter-spacing: 3px;
  font-size: 13px;
}

#proyecto .btn-1e {
  overflow: hidden;
  overflow: hidden;
}

#proyecto .btn-1e:after {
  width: 100%;
  height: 0;
  top: 0%;
  bottom: 0;
  left: 0%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient( right,#bd8e0d 0,#ffefc5 360%);

}

#proyecto .btn-1e:hover,
#proyecto .btn-1e:active {
  color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient(right,#bd8e0d 0,#ffefc5 360%);
}

#proyecto .btn-1e:hover:after {
  height: 400%;
  opacity: 1;
}

#proyecto .btn-1e:active:after {
  height: 600%;
  opacity: 1;
}

/* NOVEDADES */

blockquote{
  border:none;
}
.carousel-indicators li{
  border: 1px solid #926c04;
  width: 15px;
  height: 15px;
}
.carousel-indicators .active{
  background-color:#926c04;
  width: 15px;
  height: 15px; 
}
#novedades{
   padding-top: 180px;
}


#novedades h2{
  width: 244px;
  font-weight: 500;
  font-size: 48px;
  margin-top: 70px;
  color:#2d303a;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 12px;
}

#novedades .novedades-efecto span{
  color: rgba(146,108,4, 0.4);
  font-size: 40px;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
}

#novedades .novedades-efecto a{
  color: #2e2e2e;
  font-size: 19px;
  line-height: 25px;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

#novedades .novedades-efecto :hover{
  color:#926c04;
}

#novedades .novedades-efecto p{
  color:#787e83;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 300;
}

#imagen01 {
  position:relative;
}

#imagen01 > div{
  position: absolute;
  text-align: center;
  color: #fff;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 2px;
  background-color: rgba(189, 142, 13, 0.8);
  opacity: 0;
  transition: opacity 1s;
  padding: 1%;
  cursor: pointer;
}

#imagen01 > div h2{
  padding-top: 45px;
  letter-spacing: 3px;
  font-size: 15px;
  font-weight: 500;
}

#imagen01 > div p{
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 15px;
}

#imagen01 > div:hover{
  opacity: 1;
}

/* CONTACTO */

.background-3{
  background-image: url("../images/fondo-footer.png");
  height: auto;   
  background-size: contain;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0% -300%;
  padding-top: 170px;
}

#contacto h2{
  width: 244px;
  font-weight: 500;
  font-size: 48px;
  color:#2d303a;
  margin: 0;
  margin-top: 45px;
}
#contacto #contacto-descripcion h2{
  width: 244px;
  font-weight: 500;
  font-size: 48px;
  color: #2d303a;
  margin: 0;
  margin-top: 0px; 
}


#contacto p{
  line-height: 30px;
  font-size: 18px;
  color:#787e83;
  font-weight: 300;
  text-align: left;
}

#contacto input,textarea{
  border: 1px solid #dcdcdc;
  padding: 18px 13px;
  color:#787e83;
  font-weight: 400;
  letter-spacing: 1px;
  box-shadow: none;
  outline: 0px;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="tel"] {
  width:100%; 
  padding:10px; 
  margin-bottom:10px;
  border-radius: none;
  outline: 0px;
}

.contact-form textarea{
  width:100%; 
  padding:10px; 
  height:128px;
  resize: none;
}


#contacto .btn-color-form{  
  border: 1px solid #bd8e0d;
  color: #bd8e0d;
  padding: 18px 85px;
  background-color: transparent;
  font-weight: 500;
  margin-top: 15px;
  letter-spacing: 3px;
  font-size: 13px;
}

#contacto .btn-color-form:hover{
  color: #333;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}

#contacto #suscribase p{
  background: -moz-linear-gradient(180deg, rgba(255,239,197,1) -157%, rgba(189,142,13,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(189,142,13,1)), color-stop(100%, rgba(255,239,197,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(180deg, rgba(255,239,197,1) -157%, rgba(189,142,13,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(180deg, rgba(255,239,197,1) -157%, rgba(189,142,13,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(255,239,197,1) -157%, rgba(189,142,13,1) 100%); /* ie10+ */
  background: linear-gradient(270deg, rgba(255,239,197,1) -157%, rgba(189,142,13,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd8e0d', endColorstr='#ffefc5',GradientType=1 ); /* ie6-9 */
  padding: 15px;
  text-align: center;
  margin: 0px;
  color:#ffffff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

#contacto .input-group{
  margin-top: 10px;
}

#contacto .form-control{
  padding: 26px 11px;
}


#contacto .btn-5 {
  background-color: #d3c6a2;
  color:#2d303a;
  border-radius:none;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 16px 14px;
  margin: 0;
}

#contacto .btn-5e {
  overflow: hidden;
}

#contacto .btn-5e:after {
  width: 100%;
  height: 0;
  top: 0%;
  bottom: 0;
  left: 0%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient( right,#bd8e0d 0,#ffefc5 360%);

}

#contacto .btn-5e:hover,
#contacto .btn-5e:active {
  color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient(right,#bd8e0d 0,#ffefc5 360%);
}

#contacto .btn-5e:hover:after {
  height: 400%;
  opacity: 1;
}

#contacto .btn-5e:active:after {
  height: 600%;
  opacity: 1;
}


/* CONTACTO */

.background-3{
  background-image: url("../images/fondo-footer.png");
  height: auto;   
  background-size: contain;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0% -300%;
  padding-top: 170px;
}


#contacto{
  margin-top: 90px;
}

/* */

#contacto-interior .btn-5 {
  background-color: #d3c6a2;
  color:#2d303a;
  border-radius:none;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 16px 14px;
  margin: 0;
}

#contacto-interior .btn-5e {
  overflow: hidden;
}

#contacto-interior .btn-5e:after {
  width: 100%;
  height: 0;
  top: 0%;
  bottom: 0;
  left: 0%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient( right,#bd8e0d 0,#ffefc5 360%);

}

#contacto-interior.btn-5e:hover,
#contacto-interior .btn-5e:active {
  color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient(right,#bd8e0d 0,#ffefc5 360%);
}

#contacto-interior .btn-5e:hover:after {
  height: 400%;
  opacity: 1;
}

#contacto-interior .btn-5e:active:after {
  height: 600%;
  opacity: 1;
}


#contacto-interior h2{
  width: 244px;
  font-weight: 500;
  font-size: 48px;
  color:#2d303a;
}

#contacto-interior p{
  line-height: 30px;
  font-size: 16px;
  margin-bottom: 20px;
  color:#2d303a;
  font-weight: 300;
  text-align: left;
}

#contacto-interior input,textarea{
  border: 1px solid #dcdcdc;
  padding: 18px 13px;
  color:#787e83;
  font-weight: 400;
  letter-spacing: 1px;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="tel"] {
  width:100%; 
  padding:10px; 
  margin-bottom:10px;
  border-radius: none;
}

.contact-form textarea{
  width:100%; 
  padding:10px; 
  height:128px;
  resize: none;
}
#footer{
    background-image: url(../images/fondo-footer.png);
    background-position: 101% 0%;
    background-repeat: no-repeat;
    background-color: #ffffff;;
}

#contacto-interior .btn-color-form{  
  background-color:transparent;
  border-color:#BD8E0D;
  color:#BD8E0D;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 20px;
  padding: 16px 97px;
  display: block;
}

#contacto-interior .btn-color-form:hover{
  color: #333;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}

#contacto-interior #suscribase p{
  background: -moz-linear-gradient(180deg, rgba(255,239,197,1) -157%, rgba(189,142,13,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(189,142,13,1)), color-stop(100%, rgba(255,239,197,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(180deg, rgba(255,239,197,1) -157%, rgba(189,142,13,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(180deg, rgba(255,239,197,1) -157%, rgba(189,142,13,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(255,239,197,1) -157%, rgba(189,142,13,1) 100%); /* ie10+ */
  background: linear-gradient(270deg, rgba(255,239,197,1) -157%, rgba(189,142,13,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd8e0d', endColorstr='#ffefc5',GradientType=1 ); /* ie6-9 */
  padding: 15px;
  text-align: center;
  margin: 0px;
  color:#ffffff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

#contacto-interior .input-group{
  margin-top: 10px;
}

#contacto-interior .form-control{
  padding: 26px 11px;
}

#contacto-interior .btn-color-suscribase{
  background-color: #d3c6a2;
  color:#2d303a;
  border-radius:none;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 16px 14px;
  margin: 0;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required{
  width: 100% !important;
  max-width: 100% !important;
}

textarea.wpcf7-form-control.wpcf7-textarea{
  width: 100% !important;
  margin-top: 10px !important;
  height: 150px !important;
}

/* FOOTER*/

#contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/fondo-footer.png"); 
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  margin-top: 90px;

}

.iconos-centro{
  margin: 0 auto;
  display: block;
  text-align: center;
}

.iconos-centro.datos {
  padding:0px 20px; 
  list-style:none;
}

.icon-color{
  margin-right: 15px;
  color: red;
}

.list-inline{
  margin-top: 30px;
}

.iconos-centro .list-inline li{
  color:#787e83;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 7px;
}

.iconos-centro .list-inline li img{
  margin: 0px 10px;
}


#contacto #contacto-content .btn-6 {
  border-color: #BD8E0D;
  color: #BD8E0D;
  background-color: transparent;
  border-radius:none;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 16px 98px;
  margin: 0;
  font-size: 13px;
  margin-top: 10px;
}

#contacto #contacto-content .btn-6e {
  overflow: hidden;
}

#contacto #contacto-content .btn-6e:after {
  width: 100%;
  height: 0;
  top: 0%;
  bottom: 0;
  left: 0%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient( right,#bd8e0d 0,#ffefc5 360%);

}

#contacto #contacto-content .btn-6e:hover,
#contacto #contacto-content .btn-6e:active {
  color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient(right,#bd8e0d 0,#ffefc5 360%);
}

#contacto #contacto-content .btn-6e:hover:after {
  height: 400%;
  opacity: 1;
}

#contacto #contacto-content .btn-6e:active:after {
  height: 600%;
  opacity: 1;
}


/* --- */

#contacto .btn-7 {
  border-color: #BD8E0D;
  color: #BD8E0D;
  background-color: transparent;
  border-radius:none;
  font-weight: 500;
  letter-spacing: 3px;
  padding: 16px 94px;
  margin: 0;
  font-size: 13px;
  margin-top: 10px;
}

#contacto .btn-7e {
  overflow: hidden;
}

#contacto .btn-7e:after {
  width: 100%;
  height: 0;
  top: 0%;
  bottom: 0;
  left: 0%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient( right,#bd8e0d 0,#ffefc5 360%);

}

#contacto .btn-7e:hover,
#contacto .btn-7e:active {
  color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient(right,#bd8e0d 0,#ffefc5 360%);
}

#contacto .btn-7e:hover:after {
  height: 400%;
  opacity: 1;
}

#contacto .btn-7e:active:after {
  height: 600%;
  opacity: 1;
}
/* --- */

.footer-inferior .copyright{
  font-size: 14px!important;
}

.footer-superior{
  padding:70px 0px; 
  background:#eee;
}

.footer-inferior p{
  padding:15px 0px;
  margin: 0;
  font-weight: 300;
}

.footer-inferior .logo-QK img{
  margin-top: 9px;
}

/* CAROUSEL SLIDER */


.vertical-align-wrapper {
  width: 100%;
  height: 100vh;
}

.wrapper {
    position: relative;
}
.arrows{
  position: relative;
  bottom: 21%;
  right: 5%;
  height: 22%;
}
.arrow {
    cursor: pointer;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    margin-top: -50px;
}

#left-arrow {
    background-image: url('../images/arrows.png');
    height: 17px;
    width: 30px;
    right: 25px;
    margin-top: -17px;
    background-position: 100% 100%;
}

#right-arrow {
  background-image: url('../images/arrows.png');
    height: 20px;
    width: 30px;
    right: 0;
    margin-right: 25px;
    background-position: 0% 0%;
}

.image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.vertical-align-wrapper {
    display: table;
    overflow: hidden;
    margin: auto;
    width: 1170px;
    padding: 0px 15px;
}


.vertical-align-wrapper h1 {
  display: table-cell;
  vertical-align: middle;
  color: #ffffff;
  color: white;
  font-size: 48px;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;

  text-align: left;    
}

/*.image-one {
    background-image: url("../images/inicio.jpg");
}*/

/*.image-two {
    background-image: url("../images/inicio2.jpg");
}*/

/*.image-three {
    background-image: url("../images/3.jpg");
}*/


/* GALERIA EDIFICIOS */
#edificios{
  height: 100%;
  height: auto;
  background-size: contain;
  padding-top: 14rem;
  padding-bottom: 11rem;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-color: #f6f7fb;
}

.containerw3 {
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  /*margin: -2.5px;*/
  margin-top: 76px;
}

.containerw3:after {
  content: '';
  flex-grow: 999999999;
  min-width: 300px;
  height: 0;
}

.containerw3 > * {
  position: relative;display: 
  block;
  margin: 2.5px;
  flex-grow: 2;}

.containerw3 > * > img {
  height: 170px;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: bottom;
  padding: 2px;
}

.Edificio img{
  position:relative;
}

.Edificio div {
  position: relative;
}



.fa-map-marker .icon-color{
  color:#A07F4C;
  font-size: 15px;
}

i:before {
  font-family: 'FontAwesome';
}

i.one:before {
  content: "\f008";
}

i.two:before {
  content: "\f001";
}

i.three:before {
  content: "\f26c";
}

a.cblanco2, .fa-play-circle-o{
  color:white;
  padding-right:10px;
}


.contenido-block-one {
  padding: 30px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #fff;
}

.contenido-block-one h1,
.contenido-block-one .h1 {
  color: inherit;
}

.contenido-block-one p {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 200;
}

.contenido-block-one > hr {
  border-top-color: #d5d5d5;
}

.container .contenido-block-one {
  border-radius: 6px;
}

.contenido-block-one .container {
  max-width: 100%;
}

.contenido-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: #fff;
  background: url('../images/bg-parallax.png') no-repeat center center fixed; 
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contenido-block-two {
  padding:30px 0px;  
}

.contacto{
  margin-top:93px !important;
}



.Inicio-1{
  background-image: url("../images/inicio.jpg"); 
  height: auto;background-size: cover;
  padding-top:20rem; 
  padding-bottom:20rem;
}

.Inicio-1 h2 {
  font-size: 50px;
}

.navbar-default .navbar-nav > li > a {
  color:white;
}

/* SECCIONES INTERNAS ESTILOS */

#secciones-interna h2{
  color: #926c04;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 2px;
  margin-top: 106px;
}

#secciones-interna h3{
  color:#565658;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: 10px;
}

#secciones-interna h5, .compartir h5{
  color:#926c04;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  float: left;
  letter-spacing: 1px;
  margin: 0;
  font-weight: 500;
  margin-top: 5px;
  margin-right: 5px;
}

#secciones-interna p{
  line-height: 28px;
  font-size: 14px;
  color: #787e83;
  margin-bottom: 20px;
  font-weight: 400;
}

#secciones-interna .map{
  float: left;
  margin-right: 10px;
}

#secciones-interna .direccion{
  font-size: 21px;
  color:#2e2e2e;
  padding-left: 8px;
  margin-bottom: 21px;
}
#secciones-interna .iconos-internos{
  margin: 0;
  padding: 0;
  margin-bottom: 20px
}
#secciones-interna .iconos-internos li{
  width: 14%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* ICONOS DESCRIPTIVOS */

#secciones-interna .icono-min-1{
  /*background-image: url('../images/iconos-internos/pileta.svg');*/
  width: 95px;
  height: 50px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
}

#secciones-interna .icono-min-1:hover{
  /*background-image: url('../images/iconos-internos/pileta-hover.svg');*/
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
}

/*#secciones-interna .icono-min-2{
  background-image: url('../images/iconos-internos/lavarropa.svg');
  width: 50px;
  height: 50px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
}

#secciones-interna .icono-min-2:hover{
  background-image: url('../images/iconos-internos/lavarropa-hover.svg');
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
}

#secciones-interna .icono-min-3{
  background-image: url('../images/iconos-internos/auto.svg');
  width: 50px;
  height: 50px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
}

#secciones-interna .icono-min-3:hover{
  background-image: url('../images/iconos-internos/auto-hover.svg');
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
}

#secciones-interna .icono-min-4{
  background-image: url('../images/iconos-internos/corazon-hover.svg');
  width: 50px;
  height: 50px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
}

#secciones-interna .icono-min-4:hover{
  background-image: url('../images/iconos-internos/corazon.svg');
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
}

#secciones-interna .icono-min-5{
  background-image: url('../images/iconos-internos/parrilla.svg');
  width: 50px;
  height: 50px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
}

#secciones-interna .icono-min-5:hover{
  background-image: url('../images/iconos-internos/parrilla-hover.svg');
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
}

#secciones-interna .icono-min-6{
  background-image: url('../images/iconos-internos/flor.svg');
  width: 50px;
  height: 50px;
  margin: 0;
  display: block;
  background-repeat: no-repeat;
}

#secciones-interna .icono-min-6:hover{
  background-image: url('../images/iconos-internos/flor-hover.svg');
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
}
*/

/* DESPLEGABLE */
 .panel-heading {
    cursor: pointer;
}


.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'FontAwesome';
    float: right;
    color: inherit;
}

.panel-heading.collapsed .accordion-toggle:after {
 content:"\f078";/*  para abajo*/

}


.panel-heading:not(.collapsed) .accordion-toggle:after {
    /* symbol for "collapsed" panels */
   content:"\f077"; /*para arriba*/

}

.panel-info > .panel-heading{
   background-color: #fff;
  border-color: none;
  border-bottom: 1px solid #ffefc5;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #926c04; 
}

.panel-info > .panel-heading + .panel-collapse > .panel-body{
  border-top-color: #ffefc5
}

.panel-body{
  padding: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.panel-body p{
  margin-bottom: 8px!important;
}
.panel-body span{
  font-weight: 500;
}





/*

#secciones-interna .panel-title{
  color:#2d303a;
  letter-spacing: 2px;
}

#secciones-interna .panel-body p{
  margin-bottom: 10px;
}

#secciones-interna .panel-body span{
  font-weight: 500;
}

#secciones-interna .panel-heading{
  background-color: #fff;
  border-color: none;
  border-bottom: 1px solid #ffefc5;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

#secciones-interna .panel-heading a:hover, a:focus{
  text-decoration: none;
  color: #926c04;
}

#secciones-interna .panel-default > .panel-heading + .panel-collapse > .panel-body{
  padding: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

#secciones-interna .redes-internas{
  list-style: none;
  float: left;
  padding: 0;
}*/


/* REDES SOCIALES */

#secciones-interna .redes-internas li, .compartir li{
  display: inline;
  margin: 0px 5px;
}

#secciones-interna .redes-internas li a, .compartir li a{
  color: #926c04;
  font-size: 18px;
}

#secciones-interna .redes-internas li :hover, .compartir li:hover{
  color: #565658;
}

#secciones-interna .aside-content{
  display: block;
  width: 69%;
  margin: 0 auto;
  padding-top: 1vw;
  float: right;
  padding-right: 15px;
}

.mapa img{
  display: inline-block;
  margin-top: 15px;
  margin-right: 10px;
}

.brochure{
  padding: 0;
  float: left;
}

.brochure .btn {
  border: none;
  font-size: 14px;
  color: inherit;
  letter-spacing: 1px;
  background: none;
  cursor: pointer;
  width: 100%;
  padding: 16px 10px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 1.3s;
  display: block;
  text-align: center;
  margin-bottom: 17px;
}

.brochure .btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* BOTON DE SECCION INTERNA */

.brochure .btn-1 {
  border: 1px solid #bd8e0d;
  color: #bd8e0d;
}

.brochure .btn-1e {
  overflow: hidden;overflow: hidden;
}

.brochure .btn-1e:after {
  width: 100%;
  height: 0;
  top: 0%;
  bottom: 0;
  left: 0%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient( right,#bd8e0d 0,#ffefc5 360%);
}

.brochure .btn-1e:hover,.brochure .btn-1e:active {
  color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient(right,#bd8e0d 0,#ffefc5 360%);
}

.brochure .btn-1e:hover:after {
  height: 400%;
  opacity: 1;
}

.brochure .btn-1e:active:after {
  height: 600%;
  opacity: 1;
}

/*------------*/

/*------ Video Nosotros ----------*/

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
  } 

  .embed-container iframe,
  .embed-container object,
  .embed-container embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

#nosotros #nosotros-content .btn-1 {
  border: 1px solid #bd8e0d;
  color: #bd8e0d;
  padding: 18px 69px;
  background-color: transparent;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 13px;
}

#nosotros #nosotros-content .btn-1e {
  overflow: hidden;
}

#nosotros #nosotros-content .btn-1e:after {
  width: 100%;
  height: 0;
  top: 0%;
  bottom: 0;
  left: 0%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient( right,#bd8e0d 0,#ffefc5 360%);

}

#nosotros #nosotros-content .btn-1e:hover,
#nosotros #nosotros-content .btn-1e:active {
  color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient(right,#bd8e0d 0,#ffefc5 360%);
}

#nosotros #nosotros-content .btn-1e:hover:after {
  height: 400%;
  opacity: 1;
}

#nosotros #nosotros-content .btn-1e:active:after {
  height: 600%;
  opacity: 1;
}
.nosotros h1, .nosotros h2{
  color: #926c04;
}

/*-------------*/

#edificios .btn-1 {
  border: 1px solid #bd8e0d;
  color: #bd8e0d;
  padding: 18px 50px;
  background-color: transparent;
  font-weight: 500;
  margin-top: 15px;
  letter-spacing: 3px;
  font-size: 13px;
}

#edificios .btn-1e {
  overflow: hidden;
}

#edificios .btn-1e:after {
  width: 100%;
  height: 0;
  top: 0%;
  bottom: 0;
  left: 0%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient( right,#bd8e0d 0,#ffefc5 360%);

}

#edificios .btn-1e:hover,
#edificios .btn-1e:active {
  color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient(right,#bd8e0d 0,#ffefc5 360%);
}

#edificios .btn-1e:hover:after {
  height: 400%;
  opacity: 1;
}

#edificios .btn-1e:active:after {
  height: 600%;
  opacity: 1;
}

/*-------------*/

#btn-novedades .btn-1 {
  border: 1px solid #bd8e0d;
  color: #bd8e0d;
  padding: 18px 65px;
  background-color: transparent;
  font-weight: 500;
  margin-top: 50px;
  letter-spacing: 3px;
  font-size: 13px;
}

#btn-novedades .btn-1e {
  overflow: hidden;
  overflow: hidden;
}

#btn-novedades .btn-1e:after {
  width: 100%;
  height: 0;
  top: 0%;
  bottom: 0;
  left: 0%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient( right,#bd8e0d 0,#ffefc5 360%);

}

#btn-novedades .btn-1e:hover,#btn-novedades .btn-1e:active {
  color: #fff;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -moz-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: -o-linear-gradient(left,#bd8e0d 0,#ffefc5 360%);
  background-image: linear-gradient(right,#bd8e0d 0,#ffefc5 360%);
}

#btn-novedades .btn-1e:hover:after {
  height: 400%;
  opacity: 1;
}

#btn-novedades .btn-1e:active:after {
  height: 600%;
  opacity: 1;
}


/* MENU RESPONSIVE */

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 29px;
  color: #fff;
  display: block;
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  transition: 0.3s;
  font-size: 24px
}

.overlay a:hover, .overlay a:focus {
  color: #926c04;
}

.overlay .closebtn {
  position: absolute;
  top: 7px;
  right: 1px;
  font-size: 42px;
}

/* ROTADOR DE LA SECCION INTERNA */

#sync1 .item {
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}

#sync1 .item h1{
  margin-top: 0px!important;
}

#sync2 .item {
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.owl-dots{
  display: none;
}

.owl-next {
  display: none;
}

#sync2 .item h1 {
  font-size: 18px;
  margin-bottom: 28px;
}

#sync2 .current .item {
  background: #0c83e7;
}

.owl-theme .owl-nav .owl-next{
  /*default owl-theme theme reset .disabled:hover links */
}

#sync1.owl-theme {
  position: relative;
}

#sync1.owl-theme .owl-next,#sync1.owl-theme .owl-prev {
  width: 22px;
  height: 20px;
  margin-top: -20px;
  position: absolute;
  top: 52%;
}

#sync1.owl-theme .owl-prev {
  right: 68px;
  background: url('../images/arrows.png');
  background-repeat: no-repeat;
}

#sync1.owl-theme .owl-next {
  right: 68px;
  top: 300px;
  background: url('../images/arrows.png');
  background-repeat: no-repeat;
  background-position: 100% 119%;

}

.owl-carousel.owl-drag .owl-item{
  margin-bottom: -26px;
}

/* ROTADOR DE LA SECCION INTERNA RESPONSIVE MOBILE */
.galeria .titulo{
  color: #926c04;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 2px;
  margin-top: 106px;
}

.galeria .map{
  float: left;
  margin-right: 10px;
}

.galeria .direccion {
  font-size: 21px;
  color: #2e2e2e;
  padding-left: 8px;
  margin-bottom: 21px;
}

#sync3 .item {
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}

#sync3 .item h1{
  margin-top: 0px!important;
}

#sync4 .item {
  color: #FFF;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.owl-dots{
  display: none;
}

.owl-next {
  display: none;
}

#sync4 .item h1 {
  font-size: 18px;
  margin-bottom: 28px;
}

#sync4 .current .item {
  background: #0c83e7;
}

.owl-theme .owl-nav .owl-next{
  /*default owl-theme theme reset .disabled:hover links */
}

#sync3.owl-theme {
  position: relative;
}
#sync3.owl-theme .owl-next,
#sync3.owl-theme .owl-prev {
  width: 22px;
  height: 20px;
  margin-top: -20px;
  position: absolute;
  top: 52%;
}
#sync3.owl-theme .owl-prev {
  right: 68px;
  background: url('../images/arrows.png');
  background-repeat: no-repeat;
}
#sync3.owl-theme .owl-next {
  right: 68px;
  top: 300px;
  background: url('../images/arrows.png');
  background-repeat: no-repeat;
  background-position: 100% 119%;

}
.owl-carousel.owl-drag .owl-item{
  margin-bottom: -26px;
}




/*-----Style editor content---------*/
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
        white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/*----media querie -----*/



@media screen and (max-height: 450px) {
.overlay {
  overflow-y: auto;
}

.overlay a {
  font-size: 20px
}

.overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }

}



.iconos-proyectos {
  margin: 30px auto 30px 0;
  padding: 0;
  text-align: left;
  width: 80%;
}
.iconos-proyectos li{
  width: 40%;
  min-width: 30%;
  display: inline-block;
  margin-bottom: 20px;
}
.cover{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
}

.circulo {
    width: 80%;
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    padding-bottom: 80%;
    position: relative;
    display: block;
    margin: auto;
}
.circulo span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 4rem;
    line-height: 100%;
    width: 90%;
}
#cifras p {
    width: 90%;
    margin: 2rem auto;
    color: #f6f6f6 !important;
    padding: 3rem 0;
    border-bottom: 2px solid #bd8e0d;
    text-align: center;
}
#mision h2{
  margin-bottom: 10rem
}
.mision strong{
  text-transform: uppercase;
  letter-spacing: 3px;
}
.mision p{
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #dca613;
}
.vision p{
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #dca613;
}
#nosotros-content p strong{
  color: #926c04;
}
.vision .circulo {
    border-color: #926c04;
    color: #926c04;
    text-align: center;
    width: 50px;
    height: 50px;
    padding: 0;
    line-height: 50px;
    font-size: 2rem;
}
#cifras h2{
  margin-bottom: 7rem;
}

@media only screen and (max-width : 991px) {
  #nosotros .pull-right{
    width: 100%;
    margin: 20px auto;
  }
  #cifras .circulo{
    width: 191px;
    height: 191px;
    padding: 0;
  }



}
.mtop{
  margin-top: 76px;
}
.catBlog a{
  color: #926c04;
}
.catBlog ul{
  margin: 0;
  padding: 0;
}
.catBlog .listado{
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 40px;
  margin-bottom: 50px;
}
.catBlog .listado a{
  color: #2d303a;
}
.catBlog .listado li{
  padding: 15px 0;
  border-bottom: 1px solid rgba(189, 142, 13, 0.2);
}
.catBlog .listado li:first-child{
  border-top: 1px solid rgba(189, 142, 13, 0.2);
}

.listadoBlog{
  padding-top: 16px;
}
.listadoBlog > div{
  border-bottom: 1px solid rgba(189, 142, 13, 0.2);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.listadoBlog .imagen {
    min-height: 145px;
}
.listadoBlog article{

}
.listadoBlog img{
  max-width: 100%;
  height: auto;
}
.listadoBlog h3 {
  font-size: 18px;
  line-height: 100%;
  padding: 0;
  min-height: 60px;
  display: block;
  margin-bottom: 0;
}
.listadoBlog h3 a{
  color: #2e2e2e;
}
.listadoBlog h3 a:hover{
  color: #bd8e0d;
  text-decoration: none;
}
.listadoBlog section {
    min-height: 70px;
}
.listadoBlog section a{
  display: block;
  margin-top: 10px;
}
.leermas{
  color: #926c04;
}
.byline{
  color: #926c04;
}
.byline .tags{
  margin-left: 15px;
}
.byline i{
  margin-left: 5px;
}
.detBlog{
  padding-top: 5px;
}
.noticias_relacionadas{
  margin: 30px auto;
  padding: 0;
}
.noticias_relacionadas a{ 
  font-size: 18px;
  line-height: 100%;
  color: #2e2e2e;
}
.compartirblog{
  border-bottom: 1px solid rgba(189, 142, 13, 0.2);
  border-top: 1px solid rgba(189, 142, 13, 0.2);
  padding: 20px 0;
  margin: 20px auto;
}
.pagination{
  width: 100%;
}
.page-numbers{
  margin: 0;
  padding: 0;
  text-align: center;
}
ul.page-numbers li{
  display: inline-block;
}
ul.page-numbers span, ul.page-numbers a {
    display: block;
    padding: 3px 10px;
    color: #BE9010;
}
ul.page-numbers span.current{
  background: #BE9010;
  color: #fff;
}

.social-button{
  cursor: pointer;
}









