@media screen and (device-width:2560px) {
  #aside { margin-left: 49%; width: 33%; }
}
@media only screen and (max-width:1920px) {

  /*PAGINADORES*/
  .dotnav-right { right: 15%; }
  #left-arrow { right: 10%; }
  #right-arrow { right: 9%; }
  #about { padding-top: 18rem; padding-bottom: 19rem; }

  /*PROYECTO*/
  #proyecto { padding-top: 20rem; padding-bottom: 18rem; }

  /*EDIFICIOS*/
  /* #edificios { padding-top: 0rem; } */
  .containerw3 > * > img { height: 217px; }

  /*SECCION INTERNA ESPECIFICACION */
  #aside { margin-left: 29%; width: 49%; }
  @media only screen and (max-width:1440px) {

    /*MENU*/
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 0px; }

    /*PAGINADOR*/
    .dotnav-right { right: 10%; }
    .arrows { position: relative; bottom: 21%; right: 0%; }
    #right-arrow { right: 8%; }
    .containerw3 > * > img { height: 169px; }
    #about { padding-top: 8rem; padding-bottom: 8rem; }

    /*PROYECTO*/
    #proyecto { padding-top: 9rem; padding-bottom: 18rem; }

    /*NOVEDADES*/
    #novedades { padding-top: 139px; }

    /*SECCION INTERNA ESPECIFICACIONES*/
    #aside { margin-left: 0%; width: 73%; }
    .secciones-interna { width: 102%; float: none; margin-left: 44px; }
    #secciones-interna{padding-left: 0;margin-left: 4.666%;}
  }
  @media only screen and (max-width:1366px) {

    /*PAGINADOR*/
    .dotnav-right { right: 40px; }

    /*FLECHAS*/
    #right-arrow { right: 5%; }
    .arrows { right: -4%; height: 20%; }
    #left-arrow { right: 7%; top: 0%; }

    /*NOSOTROS*/
    #nosotros #nosotros-content h2 { margin-top: 30px; }

    /*PROYECTO*/
    #proyecto #nosotros-content h2 { margin-top: 90px; }

    /*EDIFICIOS*/
    .containerw3 > * > img { height: 193px; }
    .listado_categorias{padding: 0;}

    /*SECCION INTERNA ESPECIFICACION*/
    #secciones-interna { width: 100%; float: none; margin-left: 0px; }


  }
 /* @media only screen and (max-width:1326px) {
    .listado_categorias {padding: 0;margin-left: 7.6666%;}
 }

 @media only screen and (max-width:1240px) {
    .listado_categorias {padding: 0;margin-left: 5.6666%;}
 }
 */
 @media only screen and (max-width:1290px) {
    .listado_categorias .col-md-3 {width: 20%;}
 }
 @media only screen and (max-width:1280px) {
    .det_iconos .col-md-2 {width: 10%;}
 }



  @media only screen and (max-width:1200px) {

    /*NAVEGADOR*/
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: 19px; }

    /*NOSOTROS*/
    #nosotros { padding-top: 7rem;  }
    .circulo span{font-size: 3rem;}

    /*SECCION INTERNA ESPECIFICACION */
    #secciones-interna { float: none; margin: 0; }
    #sync1.owl-theme .owl-next { top: 252px; }


  }
  @media only screen and (max-width:1160px) {
    #about { padding-top: 24rem; }

  }
  @media only screen and (max-width:1200px) {

    /*PAGINADORES*/
    .dotnav-right { right: 23px; }

    /*FLECHAS*/
    #right-arrow { right: 0%; }
    #left-arrow { right: 2%; top: -31%; }
    .arrows { right: 0%; height: 12%; }

    /*EDIFICIOS*/
    .containerw3 > * > img { height: 177px; }
    #secciones-interna { width: 100%; float: none; margin: 0; }

  #navbar .nav.navbar-nav.navbar-right li:nth-child(1){
    display: none;
  }

  }
  @media only screen and (max-width:1024px) {

    /*MENU */
    .hamburger-menu { display: none; }
    .overlay a { font-size: 25px; }
    .navbar-brand { float: none; }
    .brand-2 { float: none; }
    .navbar ul li a { padding: 13px 10px; }

    /*PAGINADOR*/
    .dotnav-right { right: 20px; }

    /*FLECHAS*/
    #left-arrow { right: 2%; top: -36%; }
    #right-arrow { right: 0%; }
    .arrows { right: 0%; height: 11%; }
    .contenedor { padding-left: 20px; }
    .vertical-align-wrapper { width: 100%; }
    .vertical-align-wrapper h1 { font-size: 38px; }
    .vertical-align-wrapper .btn-1 { padding: 11px 31px; font-size: 13px; }

    /*NOSOTROS*/
    #nosotros #nosotros-content h2 { font-size: 38px; margin-top: 48px; }
    #nosotros #nosotros-content p { line-height: 23px; font-size: 16px; }
    #nosotros #nosotros-content .btn-1 { padding: 14px 69px; }

    /*PROYECTOS*/
    #proyecto h2 { margin-top: 25px; font-size: 38px; }
    #proyecto p { line-height: 23px; font-size: 16px; }
    #about { padding-top: 10rem; padding-bottom: 3rem; }
    #proyecto { padding-top: 6rem; padding-bottom: 18rem; background-size: 86%;
background-position: 100% 100%;}
    #proyecto .btn-1 { padding: 14px 55px; }

    /*EDIFICIOS*/
    #edificios .btn-1 { padding: 15px 45px; }
    .containerw3 > * > img { height: 151px; }

    /*NOVEDADES */
    #novedades h2 { font-size: 38px; }
    #novedades { padding-top: 121px; }
    #btn-novedades .btn-1 { padding: 15px 55px; }

    /*CONTACTO */
    #contacto h2 { margin-top: 85px; font-size: 35px; }
    #contacto #contacto-descripcion h2 { margin-top: 0px; font-size: 38px; }
    #contacto p { font-size: 15px; }
    #contacto #suscribase p { padding: 9px; }
    #contacto input { padding: 12px 13px; }
    #contacto .form-control { padding: 22px 11px; }
    #contacto .btn-5 { padding: 12px 14px; }

    /*FOOTER */
    /* .footer-inferior .logo-QK img { float: right; } */
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { margin-left: -15px; }

    /*SECCION INTERNA ESPECIFICACIONES */
    #aside { margin-left: 7% !important; width: 80%; }
    #secciones-interna { width: 110%; float: none; }
    #sync1.owl-theme .owl-next { top: 222px; }
  }
  @media only screen and (max-width : 990px) {
    .iconos-proyectos li {
      width: 50px;
      min-width: 50px;
    }
    .containerw3N{
      text-align: center;
      margin-top: 20px;
    }
    #nosotros .embed-container {
      margin-top: 10px;
    }
    #nosotros {
      background-size: 56%;
    }
    .descVision {
        padding: 0;
        margin: 0;
    }
    .descVision p{
        margin-left: 0;
    }
    .containerw3N {
        margin-top: 10px;
    }
    .containerw3N > a {
        float: none;
        display: inline-block;
    }
    .blog_detail{
        padding: 0;
    }
  }  
  @media only screen and (max-width:980px) {

    /*MENU */
    .hamburger-menu { display: block; float: left; z-index: 9; margin-top: 34px; margin-right: 15px; margin-left: 2px; background-image: url('../images/hamburger-hover.png'); }
    .overlay a { font-size: 25px; }
    .navbar-brand { float: none; }
    .brand-2 { float: none; }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { float: left; margin-left: 0px; }
  }
  @media only screen and (max-width:959px) {

    /*MENU */
    .hamburger-menu { display: block; float: left; z-index: 9; margin-top: 34px; margin-right: 15px; margin-left: 2px; background-image: url('../images/hamburger-hover.png'); }
    .overlay a { font-size: 25px; }
    .navbar-brand { float: none; }
    .brand-2 { float: none; }

    /*SECCION INTERNA ESPECIFICACIONES*/
    #secciones-interna .iconos-internos li { width: 7%; }
    #aside { width: 100%; margin-left: 0% !important; }
    #secciones-interna { width: 100%; float: none; }
    .circulo span{font-size: 2rem;}
  }
  @media only screen and (max-width:768px) {
    #body { overflow-y: auto;}
    .vertical-align-wrapper { width: 100%; }
    h1, .h1 {font-size: 25px; }
    /*FLECHAS*/
    .arrows { bottom: 21%; height: 13%; }
    #left-arrow { right: 3%; top: -31%; }
    #right-arrow { right: 0%; }
    .contenedor { padding-left: 20px; }

    /*NOSOTROS*/
    #nosotros { padding-top: 7rem;  }
    #nosotros #nosotros-content h2 { font-size: 38px; margin-top: 48px; }

    /*PROYECTOS*/
    #proyecto #nosotros-content h2 { font-size: 38px; }
    #proyecto h2 { font-size: 38px; }
    #proyecto { padding-top: 4rem; padding-bottom: 18rem; }
    #proyecto .icono-proyecto .col { width: 12%; display: inline-block; }
    .containerw3 > * > img { height: 122px; }
    /* #imagen01 > div h2 { padding-top: 14px; } */

    /*NOVEDADES*/
    #novedades h2 { font-size: 38px; }
    #novedades { padding-top: 100px; }
    #novedades .novedades-efecto h4 { font-size: 14px; }
    #novedades .novedades-efecto p { font-size: 12px; line-height: 22px; margin-bottom: 30px; }

    /*CONTACTO*/
    /* #contacto h2 { font-size: 40px; } */
    #contacto #contacto-descripcion h2 { font-size: 40px; margin-top: 0; }
    #contacto input { padding: 10px 13px; }
    .contact-form textarea { height: 89px; }
    #contacto #contacto-content .btn-6 { padding: 12px 94px; }
    #contacto #suscribase p { padding: 7px; }
    #contacto .form-control { padding: 19px 11px; }
    #contacto .btn-5 { padding: 9px 14px; }
    #contacto #contacto-content .btn-6 { width: 100%; margin-top: 6px; margin-bottom: 10px; }
    #suscribase p { font-size: 14px; }
    .list-inline { margin-top: 17px; }
    .iconos-centro .list-inline li { font-size: 12px; }
    #overflow { overflow-x: hidden; }

    /*SECCIONES INTERNA ESPECIFICACIONES*/
    #secciones-interna .iconos-internos li { width: 9%; }
    #aside { margin-left: 0% !important; width: 100%; }
    #secciones-interna { width: 100%; float: none; }
    #contacto .btn-7 { padding: 12px 94px; }
    #contacto .btn-7 { width: 100%; margin-top: 6px; margin-bottom: 10px; }
    #sync1.owl-theme .owl-next { top: 276px; }

    .catBlog .listado li {
      padding: 7px 0;
    }
    .catBlog .listado{
      margin: 15px auto;
    }
    .mtop {
        margin-top: 35px;
    }
    #contacto {
      margin-top: 0;
    }
    #contacto h2{
      margin-top: 5px;
    }
    .col-xs-12 {
      width: 100%;
      clear: both;
  }

    .noticias_relacionadas .col-md-4, .noticias_relacionadas > div.col-md-4:nth-child(2) {
        width: 100%;
        margin: 0;
    }
    .footer-inferior, a.logo-QK{
        text-align: center;
    }

  } 
  @media only screen and (max-width:752px) {

    .containerw3N a{
      width: 45%;
    }
  }
  /* Media Only Screen Width Max --> 736px <-- Iphone Max Landscape Width */
  @media only screen and (max-width:736px) {

    /*MENU */
    .hamburger-menu { display: block; float: left; z-index: 9; margin-top: 34px; margin-right: 15px; margin-left: 2px; background-image: url('../images/hamburger-hover.png'); }
    .overlay a { font-size: 25px; }
    .navbar-brand { float: none; }
    .brand-2 { float: none; }
  }

  /* Media Only Screen Width Max --> 721px */
  @media only screen and (max-width:721px) {

    /*MENU */
    .hamburger-menu { display: block; float: left; z-index: 9; margin-top: 34px; margin-right: 15px; margin-left: 2px; background-image: url('../images/hamburger-hover.png'); }
    .overlay a { font-size: 25px; }
    .navbar-brand { float: none; }
    .brand-2 { float: none; }
  }
  @media only screen and (max-width:667px) {

    /*MENU */
    .hamburger-menu { display: block; float: left; z-index: 9; margin-top: 34px; margin-right: 15px; margin-left: 2px; background-image: url('../images/hamburger-hover.png'); }
    .overlay a { font-size: 25px; }
    .navbar-brand { float: none; }
    .brand-2 { float: none; }
  }
  @media only screen and (max-width:568px) {

    /*HOME*/
    .expandir { height: auto;}

    /*MENU */
    .hamburger-menu { display: block; float: left; z-index: 9; margin-top: 34px; margin-right: 15px; margin-left: 2px; background-image: url('../images/hamburger-hover.png'); }
    .overlay a { font-size: 25px; }
    .navbar-brand { float: none; }
    .brand-2 { float: none; }

    /* FLECHAS Y PAGINADORES */
    .vertical-align-wrapper { width: 100%; }
    .vertical-align-wrapper .btn-1 { padding: 13px 45px; }
    .arrow { margin-top: -30px; }
    .vertical-align-wrapper h1 { font-size: 39px; padding-top: 15px; }

    /*NOSOTROS */
    #nosotros #nosotros-content h2 { font-size: 39px; margin-top: 0px; }
    #nosotros #nosotros-content p { line-height: 28px; font-size: 15px; margin-bottom: 16px; }
    #about { padding-top: 11rem; padding-bottom: 24rem; }
    #about #nosotros #nosotros-content .btn-1 { padding: 13px 69px; width: 100%; }

    /* PROYECTO */
    #proyecto { padding-top: 16rem; padding-bottom: 24rem; }
    #proyecto h2 { font-size: 39px; margin-top: 0px; }
    #proyecto p { line-height: 28px; font-size: 15px; margin-bottom: 9px; }
    #proyecto .icono-proyecto .col { width: 24%; }
    #proyecto .btn-1 { padding: 13px 65px; margin-top: 15px; width: 100%; }

    /*NOVEDADES */
    #novedades { padding-top: 20px;/* 165px */ }
    #novedades h2 { font-size: 39px; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; }
    #btn-novedades .btn-1 { width: 100%; padding: 16px 65px; }

    /*CONTACTO */
    #contacto { margin-top: 30px; }
    #contacto h2 { font-size: 39px; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; }
    #contacto #contacto-descripcion h2 { font-size: 39px; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; }
    #contacto-interior h2 { font-size: 39px; }
    #contacto-interior p { font-size: 14px; }
    #contacto p { line-height: 20px; margin-top: 3px; font-size: 14px; margin-bottom: 4px; }
    #contacto input { padding: 7px 13px; font-size: 12px; }
    .contact-form textarea { height: 59px; }
    #contacto-interior input { padding: 7px 13px; font-size: 12px; }
    #contacto-interior textarea { height: 59px; }
    #contacto .btn-5 { padding: 6px 14px; }
    #contacto #contacto-content .btn-6 { width: 100%; margin-bottom: 5px; padding: 9px 65px; }
    #contacto #suscribase p { padding: 9px 14px; font-size: 11px; width: 100%; }
    #contacto .form-control { padding: 7px 13px; }

    /*FOOTER */
    .list-inline { margin-top: 15px; }
    .iconos-centro .list-inline li { font-size: 12px; margin: 0; margin-top: 15px; }
    .footer-inferior .copyright { text-align: center !important; margin: 0 !important; padding: 0; }
    .footer-inferior .copyright { padding-top: 10px; }
    .footer-inferior .logo-QK img { float: none; margin-top: 8px; }
  }
  @media only screen and (max-width : 500px) {
    .listadoBlog .imagen{
      min-height: 120px;
    }
  }

  @media only screen and (max-width : 480px) {
    .containerw3N{
      text-align: center;
    }
    .containerw3N a{
      width: 90%;
    }
  }

  @media only screen and (max-width:460px) {
    #header { height: 74px; }

    /*MENU */
    .hamburger-menu { display: block; float: left; z-index: 9; margin-top: 34px; margin-right: 15px; margin-left: 2px; background-image: url('../images/hamburger-hover.png'); }
    .overlay a { font-size: 25px; }
    .navbar-brand { float: none; }
    .brand-2 { float: none; }

    /* FLECHAS Y PAGINADORES */
    .vertical-align-wrapper { width: 100%; }
    .vertical-align-wrapper .btn-1 { padding: 13px 45px; }
    .vertical-align-wrapper h1 { font-size: 39px; }

    /*NOSOTROS */
    #nosotros #nosotros-content h2 { font-size: 39px; margin-top: 0px; }
    #nosotros #nosotros-content p { line-height: 28px; font-size: 15px; margin-bottom: 16px; }
    #nosotros #nosotros-content .btn-1 { padding: 13px 69px; width: 100%; }

    /* PROYECTO */
    #proyecto { padding-top: 8rem; }
    #proyecto h2 { font-size: 39px; margin-top: 0px; }
    #proyecto p { line-height: 28px; font-size: 15px; margin-bottom: 9px; }
    #proyecto .icono-proyecto .col { width: 24%; }
    #proyecto .btn-1 { padding: 13px 65px; margin-top: 15px; width: 100%; }

    /*NOVEDADES */
    #novedades { padding-top: 3rem; }
    #novedades h2 { font-size: 39px; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; }
    #btn-novedades .btn-1 { width: 100%; padding: 16px 65px; }

    /*CONTACTO */
    #contacto h2 { font-size: 39px; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; }
    #contacto #contacto-descripcion h2 { font-size: 39px; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; }
    #contacto p { line-height: 20px; margin-top: 3px; font-size: 14px; margin-bottom: 4px; }
    #contacto input { padding: 7px 13px; font-size: 12px; }
    .contact-form textarea { height: 59px; }
    #contacto .btn-5 { padding: 6px 14px; }
    #contacto #contacto-content .btn-6 { width: 100%; margin-bottom: 5px; padding: 9px 65px; }
    #contacto #suscribase p { padding: 9px 14px; font-size: 11px; width: 100%; }
    #contacto .form-control { padding: 7px 13px; }

    /*FOOTER */
    .list-inline { margin-top: 5px; }
    .iconos-centro .list-inline li { font-size: 12px; margin: 0; margin-top: 6px; }
    .footer-inferior .copyright { text-align: center !important; margin: 0 !important; padding: 0; }
    .footer-inferior .copyright { padding-top: 10px; }
    .footer-inferior .logo-QK img { float: none; margin-top: 8px; }
    #aside { width: 100%; margin-left: 0% !important; }
    #secciones-interna .iconos-internos li { width: 16%; }
    #secciones-interna { width: 100%; float: none; }
    .mapa { margin-top: 16px; }
  }
  @media only screen and (max-width:425px) {
    #header { height: 74px; }

    /*MENU */
    .hamburger-menu { display: block; float: left; z-index: 9; margin-top: 34px; margin-right: 15px; margin-left: 2px; background-image: url('../images/hamburger-hover.png'); }
    .overlay a { font-size: 20px; }
    .arrows { height: 8%; }
    #left-arrow { right: 6%; top: -32%; }
    .navbar-brand { float: none; }
    .brand-2 { float: none; }
    .contenedor { padding-left: 0; }

    /*PAGINADORES */
    .dotnav { display: none; }
    .sin-padding { padding: 0; }

    /* FLECHAS Y PAGINADORES */
    .vertical-align-wrapper { width: 100%; }
    .vertical-align-wrapper h1 { font-size: 32px; }
    .vertical-align-wrapper .btn-1 { padding: 16px 21px; }

    /*NOSOTROS */
    #nosotros { padding-top: 11rem;  }
    #nosotros #nosotros-content h2 { font-size: 32px; margin-top: 0px; }
    #nosotros #nosotros-content p { line-height: 26px; font-size: 14px; margin-bottom: 9px; }
    #nosotros #nosotros-content .btn-1 { padding: 13px 69px; width: 100%; }

    /* PROYECTO */
    #proyecto { /* padding-top: 11rem; */ padding-bottom: 15rem; }
    #proyecto h2 { font-size: 32px; margin-top: 0px; }
    #proyecto p { line-height: 24px; font-size: 14px; margin-bottom: 9px; }
    #proyecto .icono-proyecto .col { width: 24%; }
    #proyecto .btn-1 { padding: 13px 65px; margin-top: 15px; }

    /* GALERIA */
    .containerw3 { margin-top: 0px; }
    .containerw3 > * > img { height: 108px; }
    #imagen01 > div h2 { /* padding-top: 15px; */ font-size: 12px; }
    #imagen01 > div p { font-size: 12px; }

    /*NOVEDADES */
    #novedades { padding-top: 18px; }
    #novedades h2 { font-size: 32px; margin-top: 124px; margin-bottom: 0px; margin-left: 0px; }
    #btn-novedades .btn-1 { padding: 13px 65px; }

    /*CONTACTO */
    #contacto h2 { font-size: 32px; margin-top: 10px; margin-bottom: 20px; margin-left: 0px; }
    #contacto #contacto-descripcion h2 { font-size: 32px; margin-top: 0px; margin-bottom: 20px; margin-left: 0px; }
    #contacto p { line-height: 20px; margin-top: 3px; font-size: 14px; margin-bottom: 15px; }
    #contacto input { padding: 7px 13px; font-size: 12px; }
    .contact-form textarea { height: 86px; }
    #contacto .btn-5 { padding: 6px 14px; }
    #contacto #contacto-content .btn-6 { width: 100%; margin-bottom: 5px; padding: 9px 65px; }
    #contacto #suscribase p { padding: 9px 14px; font-size: 11px; width: 100%; }
    #contacto .form-control { padding: 7px 13px; }

    /*FOOTER */
    .list-inline { margin-top: 5px; }
    .iconos-centro .list-inline li { font-size: 13px; margin: 0; margin-top: 13px; }
    .footer-inferior .copyright { padding-top: 10px; }
    .footer-inferior .logo-QK img { margin: 0 auto; display: block; padding-top: 10px; }
    .mapa { margin-top: 16px; }
    .mapa img { margin: auto; margin-right: 10px; }
    #secciones-interna .iconos-internos li { width: 15%; }
    #aside { width: 100%; margin-left: 0% !important; }
    #secciones-interna { width: 100%; float: none; }
    #sync1.owl-theme .owl-next { top: 145px; }
    .galeria { padding-top: 100px; }
    .galeria .titulo { margin-top: 0px; }
    #sync3.owl-theme .owl-prev { right: 14px; }
    #sync3.owl-theme .owl-next { right: 14px; top: 165px; }
  }
  @media only screen and (max-width : 400px) {
    .listadoBlog .imagen{
      min-height: 50px;
    }
    #cifras p{
        margin: 1rem auto;
        padding: 1rem 0;
        min-height: 110px;
    }



  }



  @media only screen and (max-width:375px) {
    #header { height: 74px; }

    /*MENU */
    .hamburger-menu { display: block; float: left; z-index: 9; margin-top: 34px; margin-right: 15px; margin-left: 2px; background-image: url('../images/hamburger-hover.png'); }
    .overlay a { font-size: 20px; }
    .navbar-brand { float: none; }
    .brand-2 { float: none; }
    .vertical-align-wrapper { padding: 0px; }

    /* FLECHAS Y PAGINADORES */
    .vertical-align-wrapper { width: 100%; }
    .vertical-align-wrapper h1 { font-size: 32px; }
    .vertical-align-wrapper .btn-1 { padding: 11px 21px; font-size: 13px; }

    /*PAGINADORES */
    .dotnav { display: none; }
    #left-arrow { right: 2%; top: -32%; }
    #right-arrow { right: -5%; }
    .contenedor { padding-left: 20px; }
    .sin-padding { padding: 0; }

    /*NOSOTROS */
    #nosotros { padding-top: 7rem; }
    #nosotros #nosotros-content h2 { font-size: 32px; margin-top: 0px; }
    #nosotros #nosotros-content p { line-height: 26px; font-size: 14px; margin-bottom: 9px; }
    #nosotros #nosotros-content .btn-1 { padding: 13px 69px; width: 100%; }

    /* PROYECTO */
    #proyecto { padding-top: 10rem; }
    #proyecto h2 { font-size: 32px; margin-top: 0px; }
    #proyecto p { line-height: 26px; font-size: 14px; margin-bottom: 9px; }
    #proyecto .icono-proyecto .col { width: 24%; }
    #proyecto .btn-1 { padding: 13px 65px; margin-top: 15px; }

    /*GALERIA */
    .containerw3 { margin-top: 0px; }
    .containerw3 > * > img { height: 109px; }
    #imagen01 > div h2 { /* padding-top: 14px; */ font-size: 12px; }
    #imagen01 > div p { font-size: 12px; }

    /*NOVEDADES */
    #novedades { padding-top: 74px; }
    #novedades h2 { font-size: 32px; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; }
    #btn-novedades .btn-1 { padding: 13px 65px; }

    /*CONTACTO */
    #contacto { padding-top: 0px; }
    #contacto h2 { font-size: 32px; margin-top: 31px; margin-bottom: 0px; margin-left: 0px; }
    #contacto #contacto-descripcion h2 { font-size: 32px; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; }
    #contacto p { line-height: 20px; margin-top: 3px; font-size: 14px; margin-bottom: 4px; }
    #contacto input { padding: 7px 13px; font-size: 12px; }
    .contact-form textarea { height: 86px; }
    #contacto .btn-5 { padding: 6px 14px; }
    #contacto #contacto-content .btn-6 { width: 100%; margin-bottom: 5px; padding: 9px 65px; }
    #contacto #suscribase p { padding: 9px 14px; font-size: 11px; width: 100%; margin-top: 34px; }
    #contacto p { margin-bottom: 19px; }
    #contacto .form-control { padding: 7px 13px; }

    /*FOOTER */
    .list-inline { margin-top: 5px; }
    .iconos-centro .list-inline li { margin-top: 15px; }
    .footer-inferior .copyright { padding-top: 10px; }
    .footer-inferior .logo-QK img { float: none; margin-top: -5px; }

    /* SECCION INTERNA ESPECIFICACIONES */
    #overflow { overflow-x: hidden; }
    #secciones-interna h2 { font-size: 25px; }
    #secciones-interna .direccion { font-size: 18px; }
    #sync1.owl-theme .owl-next { top: 145px; }
    #secciones-interna p { line-height: 23px; }
    #aside { width: 100%; margin-left: 0% !important; }
    #secciones-interna .iconos-internos li { width: 32%; margin-bottom: 10px; }
    #secciones-interna { width: 100%; float: none; }
    .mapa { margin-top: 16px; }
    .mapa img { margin: auto; width: 32%; }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand { position: relative; bottom: 4px; margin-left: 1px !important; float: none; }
    .galeria { padding-top: 100px; }
    .galeria .titulo { margin-top: 0px; }
    #sync3.owl-theme .owl-prev { right: 14px; }
    #sync3.owl-theme .owl-next { right: 14px; top: 145px; }


.circulo {
    width: 80%;
    padding-bottom: 80%;
  }

  }
  @media only screen and (max-width:320px) {

    /*paginadores*/
    .dotnav { display: none; }
    .contenedor { padding-left: 20px; }

    /*flechas rotador*/
    #left-arrow { top: -32%; }
    .sin-padding { padding: 0; }

    /*edificios*/
    .galeria { padding-top: 100px; }
    .galeria .titulo { margin-top: 0px; }
    #sync3.owl-theme .owl-prev { right: 14px; }
    #sync3.owl-theme .owl-next { right: 14px; top: 125px; }

    /*nosotros*/
    #nosotros #nosotros-content h2 { margin-top: 45px; }
    .containerw3 { margin-top: 0px; }
    .containerw3 > * > img { height: 93px; }
    #imagen01 > div h2 { /* padding-top: 10px; */ font-size: 11px; margin-bottom: 4px; }
    #imagen01 > div p { font-size: 11px; margin: 0; }

    /*novedades*/
    blockquote { margin: 26px 0 20px; }
    #novedades { padding-top: 54px; }
    #btn-novedades .btn-1 { margin-top: 45px; }

    /*contacto*/
    #contacto { margin-top: 0px; }
    #contacto h2 { padding-top: 115px; margin-bottom: 20px; }
    #contacto #suscribase p { margin-top: 34px; }
    #contacto .input-group { margin-top: 18px; }
    #contacto p { margin-bottom: 19px; }

    /*footer*/
    .iconos-centro .list-inline li { margin-top: 15px; }
  }












